@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 20px;
	font-family: 'Sanchez', serif;
	
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
	margin: 0.5em; 
	margin-bottom: 2em;
}

aside {
float: left;
width: 25%;
	
}

footer {
clear: left;
}

header {
float: clear;
}

img {
	max-width: 60%;
}

main {
width: 40%;
float: left;
margin-right: 1em;

}

nav {
font-weight: 700;
float: left;
width: 15%;

}


#copyright{
	font-size: 80%;
}

#main-container {
margin-left: 1em;
}